<!DOCTYPE html>
<html>

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>portada</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		
		<link rel="stylesheet" type="text/css" href="../default/css/estilos.css">
		<link rel="stylesheet" type="text/css" href="../default/css/fontello.css">
	</head>


	<body>
        
        <header>
            <div class="contenedor" >
                <h1 class="icon-th-large">Sis. Mision Sucre</h1>
                <input type="checkbox" id="menu-bar">
                <label for="menu-bar" class="icon-menu"></label>
                
                <nav class="menu">
                    <a href="">opcion 1</a>
                    <a href="">opcion 2</a>   
                    <a href="">opcion 3</a>   
                    <a href="">opcion 4</a>       
                </nav>
                
            </div>
        </header>
        
        
        <main>
            
            <section id="banner">
                <img src="../default/img/banner.png">
            </section>
            
            
            <section id="bienvenidos">
               <div id="contenido">
                   <h2>contenido</h2>
               </div>
            </section>
            
        </main>
        
        
        <footer>
            <div class="contenedor">
                <p class="copy">CUFM- I08-102 &copy; 2017</p>
                <div class="grupo">
                    Grupo de Proyecto N° 1
                </div>
            </div>
        </footer>

	</body>






</html>